<div class="item-info-bit song">
	<a href="#/album/<%- model.get('artist') %>/<%- model.get('albumName') %>">
		<img src="/stream/thumbnail/<%- thumbnailSize %>/album/<%- model.get('artist') %>/<%- model.get('album') %>.jpg" alt="<%- model.get('name') %>" />
		<em><i>&nbsp;</i></em>
	</a>
    <div class="actions">
		<button type="button" class="btn btn-default btn-sm btn-play">
			<span class="glyphicon glyphicon-play"></span>
		</button>
    </div>
	
	<div class="item-title">
		<h6 class="<%- category %>"><%- category %></h6><h6 class="<%- type %>"><%- type %></h6>
        <h2><a href="#/album/<%- model.get('artist') %>/<%- model.get('albumName') %>"><%- model.get('artist') %> - <%- model.get('name') %></a></h2>
    </div>
    
    <div class="item-details">
    	<ul>
    		<li><span class="glyphicon glyphicon-calendar"></span> <span class="year"><%- model.get('id3_genre') %></span></li>
		</ul>
	</div>
</div>