<div class="widget-item">
	<div class="action">
	    <img src="/stream/thumbnail/small/album/<%- song.get('album_id') %>/<%- song.get('artist') %>/<%- song.get('name') %>.jpg" />
	    
		<button type="button" class="btn btn-default btn-xs">
			<span class="glyphicon glyphicon-play"></span>
		</button>
	</div>
	
	<span class="song-name"><%- song.get('name') %></span>
	<span class="artist-name"><%- song.get('artist') %></span>
	<span class="album-name"><%- song.get('albumName') %></span>
	<span class="song-trackid"><%- song.get('track_id') %></span>
	
	<div class="actions">
	    <ul>
	        <li class="remove">
	        	<button type="button" class="btn btn-default btn-xs">
	        		<span class="glyphicon glyphicon-remove"></span>
	        	</button>
	        </li>
	    </ul>
	</div>
</div>