<div class="artists-info-bit">
    <a href="#/artist/<%- artist.get('name') %>">
        <img src="/stream/thumbnail/small/artist/<%- artist.get('name') %>.jpg" alt="<%- artist.get('name') %>" />
        <em><i>&nbsp;</i></em>
    </a>
    
    <div class="artist-title">
        <h2><a href="#/artist/<%- artist.get('name') %>"><%- artist.get('name') %></a></h2>
    </div>
    <div class="artist-details">
        <ul>
            <li><span class="glyphicon glyphicon-map-marker"></span> <span class="count_albums"><%- artist.get('count_albums') %></span></li>
        </ul>
    </div>
</div>