<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xml:lang="en" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>Login</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  
  <link rel="stylesheet" href="/resources/css/boot.min.css" />
  <link rel="stylesheet" href="/resources/css/base.css" />
  
  <link rel="stylesheet" href="/resources/css/login.css" />
  <link rel="stylesheet" href="/resources/css/system-messages.css" />

  <script data-main="/resources/js/login" src="/resources/js/libs/require/require.js"></script>
</head>
<body></body>
</html>