<div class="container">
	<ul class="widets-list">
		<li>
			<h1>Top Songs</h1>
			<ol>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
			</ol>
		</li>
		
		
		<li>
			<h1>Recently Added</h1>
			<ol>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
			</ol>
		</li>
		
		
		<li>
			<h1>Recently Played</h1>
			<ol>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
				<li><a href="javascript:;">Mike Smith - You!</a></li>
			</ol>
		</li>
	</ul>
	
	<div class="footer-links">
        <ul>
            <li><a href="index.html" title="Home"> Home </a> </li>
            <li class="active"><a href="new-albums.html" title="New Albums">New Albums</a> </li>
            <li><a href="tracks.html" title="Tracks">Tracks</a> </li>
        </ul>
    </div>
</div>